.gaur-body{
    background-color: rgb(82, 120, 75);
    text-align: center;
}

.loris-body{
    background-color: rgb(167, 182, 174);
    text-align: center;
}

.description{
    color: black;
    font-size: 18px;
    margin-top: 40px !important;
    padding-right: 20px;
    padding-left: 20px;
    font-weight: bold !important;
}